@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
:root{
    /* colors */
    --clr-dark-gray: hsl(0, 0%, 63%);
    --clr-black: hsl(0, 0%, 0%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-very-dark-gray: hsl(0, 0%, 27%);
    /* font sizes */
    --fs-1: 2.6rem ; /*3.7rem*/
    --fs-2: 1.4rem ;
    --fs-3: 1.15rem ;

}
@media (min-width :40rem) {
   :root {
       --fs-1 :3.7rem 
   }
}

/* --------------- */
/* ------Reset ----*/
/* --------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Spartan', sans-serif;
}

a{
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select,
a {
  font: inherit;
}

ul {
  list-style: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */
.flex {
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.grid-centered{
    display: grid;
    place-items: center;
}
.hide {
    display: none;
}


/* typography */
.txt-light{
    color: var(--clr-white);
}

.txt-dark{
    color: var(--clr-black);
}

.txt-muted {
    color: var(--clr-dark-gray);
}

/* font-sizes */
.fs-1 {
    font-size: var(--fs-1)!important;
}

.fs-2 {
    font-size: var(--fs-2)!important;
}

.fs-3 {
    font-size: var(--fs-3)!important;
}

.regular{
    font-weight: 500!important;
}
.bold{
    font-weight: 600!important;
}
.bolder{
    font-weight: 700!important;
}

.text-uppercase {
    text-transform: uppercase;
}
/* ------------------- */
/* Compontents         */
/* ------------------- */
body{
    position: relative;;
}
.nav{
    background-color: transparent;
    position: absolute;
    top:5rem;
    left:5rem;
    gap: 5.5rem;
    z-index: 100;
}

.nav__logo{
    display: grid;
    place-items: center;
}

.nav__links{
    text-align: start;
    color: var(--clr-white)
}

.nav__links ul{
    gap: 3.4rem;
    padding-inline-start: 0;
    
}

.nav__links--items{
    cursor: pointer;
    position: relative;
}
.nav__links--items::after{
    content: "";
    height: 2px;
    position: absolute;
    width: 100%;
    background-color: var(--clr-white);
    left: 0;
    bottom: -6px;
    transform: scale(0);
    transition: all .4s;
}

.nav__links--items:hover::after{
    transform: scale(100%);
}

.nav__btn-toggle{
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 5rem;
    left: 3rem;
    z-index: 1000;
    display: none;
}
.nav__links--mob{
    display: none;
}
@media (max-width:40rem) {
    .nav{
        justify-content: center;
        margin: 0;
        left: 0;
    }
    .nav__links {
        display: none;
    }
    .nav__links--mob{
        display: block;
        display: flex;
        align-items: center;
        justify-content: end;
        position: absolute;
        background-color: var(--clr-white);
        color: var(--clr-black);
        height: 12rem;     
        font-weight: 700;
        text-transform: lowercase;
        transform: translateY(-100%);
        transition: all 0.5s;
        text-align: start;
        z-index: 600;
        top: 0;
        left: 0;
        right: 0;
        padding-right:1.6rem ;
        
    }
    .nav__links--mob.active{
        transform: translateY(0);

    }
    .nav__links--mob.active::before{
        /* content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0; */

        
        
    }
    .nav__links--mob ul{
        gap: 3.4rem;
        padding-inline-start: 0;
    }
    .nav__btn-toggle{
        display: block;
    }

    .layer.active{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 500;
        height: 100%;
        width: 100%;
    }
}
/* --------------------------------------------------------------- */

  

.products__discription{
    margin: auto;
    max-width: 40rem;
}
.products__discription--box{
    width: 40rem;
    padding-top: clamp(3rem,5vw,10rem);
}


.products__discription--heading {
    line-height: 1.2;
    padding-bottom: 2.1rem;
}

.products__discription--btn{
    display: inline-block;
    padding-top: 3rem;
    text-transform: uppercase;
    letter-spacing: .9rem;
}

.products__discription--btn:hover {
    color: var(--clr-dark-gray);
}


i{
    display: inline-block;
}
.products__discription--btn:hover .icon--muted{
    filter: invert(74%) sepia(4%) saturate(4%) hue-rotate(336deg) brightness(89%) contrast(80%);
}
.carousel-inner{
    position: relative;
}

.product__navigator {
    width: 8.6rem;
    aspect-ratio: 1;
    background-color: var(--clr-black);
    cursor: pointer;
    border: 0;
}
.product__navigator:hover {
    background-color: var(--clr-very-dark-gray);

}


.products__navigators {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(100%);  
}
.about{
    flex-direction: row;
}
.about__text{
    padding: clamp(1rem,3vw,5rem);
    max-width: 58rem;
}

.about__text--heading {
    letter-spacing: 0.25em;
    padding-bottom: 1rem;
}

@media (max-width:60rem) {
    .products__navigators {
        transform: translateX(0);
    }
    .product__navigator{
        width: 5.8rem;
    }
    .products__discription--box {
        padding-block: 2rem;
    }

}
